		
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add Company's Share Price</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row" >
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body listing-table" >					    
				    <a href="" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add-company-profile" title="">Add Company Profile</a>
				    <a href="" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#add-shareprice" title="">Add Company SharePrice</a>
					<table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="table table-bordered table-hover">
						<thead>
						    <tr>
						        <th>Company Name</th>
						        <th>Company Description</th>
						        <th>Price</th>
						        <th>Action</th>
						    </tr>
					    </thead>
					    <tbody>
					    	<tr ng-repeat="company in companySharesDetails" >
					    		<td ><a href="/sharePrice/{{company._id}}">{{company._company._id}}</a></td>
						        <td >{{company.date}}</td>
						        <td >{{company.shareprice}}</td>
						        <td >
						        	<a ng-click="findCompany(company._id)">
						        		<svg data-toggle="modal" data-target="#edit-company-profile" class="glyph stroked pencil  dsd">
						        			<use xlink:href="#stroked-pencil"/>
						        		</svg>
					        		</a>
					        	<a ng-click="deleteCompany(company._id)"><svg class="glyph stroked trash" ><use xlink:href="#stroked-trash"/></svg></a></td>
					    	</tr>
					    	
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!--/.row-->	
		
		
